/* Error: $color2: #block-33-heading is not a color.
 *    ,
 * 85 |   @return mix($color-base, $color, $level * $theme-color-interval);
 *    |           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _functions.scss 85:11  theme-color-level()
 *   _tables.scss 104:38    @import
 *   _bootstrap.scss 17:9   @import
 *   style.scss 2:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color2: #block-33-heading is not a color.\a    \2577 \a 85 \2502    @return mix($color-base, $color, $level * $theme-color-interval);\a    \2502            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _functions.scss 85:11  theme-color-level()\a   _tables.scss 104:38    @import\a   _bootstrap.scss 17:9   @import\a   style.scss 2:9         root stylesheet";
}
